<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/night1001/css/main.css" type="text/css" />
    {% if logs %}
        <script>
            {% autoescape off %}
            var LOGS = {{ logs }};
            {% endautoescape %}
        </script>
    {% endif %}
    <script src="/static/night1001/js/reactjs.js"></script>
    <script src="/static/night1001/js/main.js"></script>
</head>
<body>
<div id="wrapper"></div>
</body>
</html>